.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgba(95, 255, 70, 255);
    background-image: url(../Media/Pictures/1339982233143.jpg);
    background-repeat: no-repeat;
    height: 800px;
    margin:100px 500px;
    
}

body{
    background-color: rgb(217,212,255);
}
.blurb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: -300px;
    left: 600px;
    color: white;
    
}